html, body, .wrapper { height: 100%; margin: 0; padding: 0; }
body > .wrapper { height: auto; min-height: 100%; }
#content { padding-bottom: 100px; }
#footer { clear: both; position: relative; z-index: 10; height: 100px; margin-top: -116px; }

#header {
    background: #444;
    border-bottom: 4px solid #c02942;
    color: #fff;
    padding-top: 35px;
    padding-bottom: 10px;
}

a, a:hover {
    color: #c02942;
}

#header small {
    color: #eee;
    font-size: 0.32em;
}

#content {
    padding-top: 50px;
}

#footer {
    background: #eee;
    border-top: 1px solid #ccc;
    padding-top: 15px;
}

