<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<div class="wrapper">
 <div id="header">
  <div class="container">
   <h1>Open Notify</h1>
   <p>{{ page.title }}<p>
  </div>
 </div>
 <div id="content">
  <div class="container"><div class="row"><div class="span8">
   {{ content }}
  </div></div></div>
 </div>
</div>
 <div id="footer">
  <div class="container">
    <p></p>
  </div>
 </div>
</body>
</html>
